@font-face {
	font-family: Centra;
	src: url('./font/CentraNo2-Book.ttf');
	font-weight: 400;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html
{
scroll-behavior: smooth;
}
.NavBar
{
    padding: 8px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;  
    background-color: #fff;
}

.NavBar li
{
    float: Right;
}
.NavBar li  a
{
    display: flex;
    color:  #333;
    text-align: center;
    font-size: 24px;
    margin-right: 10px;
    padding: 14px ;
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid transparent;
    transition:  .55s ease;
}
.NavBar li  a:hover
{
  border-bottom: 2px solid black;
}
.NavBar ul
{
    list-style-type: none;
    margin: 30;
    padding: 0;
    overflow: hidden;
  
}




body
{
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Centra', 'sans-serif';
}

.container
{
    display: flex;
    margin-top: 150px;
    justify-content: left;
    border-radius: 10px;
    height: 800;
    background-color: #f9f6f3;
    margin-left: 100px;
    margin-right: 100px;
   
}
.container span {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(246, 45, 22, 0.5) -5.91%, rgba(231, 88, 6, 0.642) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.565);
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 26px;
    margin-left: 26px;
    display: inline-block;
    width: 100%;
  }
.container > div 
{
    width: 100%;
    margin: 10px;
    text-align: justify;
    font-size: 30px;
    font-weight: 500;
    
}
#typing-text 
{
    font-size: 50px;
    font-weight: 500;
    color: #333;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
}
  
.aboutme
 {
    margin-top: 250px;

 } 
.aboutme a
 {
    text-decoration: none;
    color: inherit;

 }    
button {
  --c:  #ed8377; 
  font-family: 'Centra', 'sans-serif';
  font-size: 50px;
  cursor: pointer;
  padding: 3px 10px;
  font-weight: bold;  
  border: none;
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  


div.project{
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
  }
  
div.project:hover {
    border: 1px solid #777;
  }
  
div.project img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 15px;
    text-align: center;
  }
  
#container2,#container3
{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 100px;
    margin-right: 100px; 
   
}


hr
{
width: 50%;
size: 40px;
color: #333;
margin-top: 80px;
}
header{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
}
form label 
{
    display: block;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    /*display: block;*/
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  form input[type="submit"] {
    background: #ed8377; 
    color: white;
    padding: 12px 20px;
    border:  1px solid rgba(255, 255, 255, 0.565);
    border-radius: 4px;
    cursor: pointer;
  }
  .aboutme
  {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position:relative; 
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
  }
  section{
    padding: 0 19%;
  }
  .aboutme-img{
    width: 10px;
    height: 10px;
    
  }
  